#cropImageContainer {
    display: none;
}

.cropImageContainer {
    max-width: 160px;
    min-width: 160px;
    min-height: 160px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin: 10px;
    overflow: auto;
    position: relative;
    cursor: pointer;
}

#addNewImage {
    color: grey;
    border: 2px dashed grey;
    background-color: white;
}

.cropImage {
    /* width: 100%;
            height: auto; */
}

.cropImageRemove {
    background-color: black;
    cursor: pointer;
    position: absolute;
    top: 9px;
    right: 9px;
    padding: 3px;
    border-radius: 10px;
    text-align: center;
    height: 20px;
}

.cropImageRemove:hover {
    background-color: grey;
}

.cropImageRemoveText {
    font-size: 12px;
    color: white;
}