#form-title{
    border-bottom: 1px solid rgb(204, 202, 202);
    height: 50px;
    background-color: #101a7b;
    color:white;
}

#form-container{
    margin-top: 160px;
}

#form-title-text{
    font-family: 'Lalezar', cursive;
    margin:auto;
}

#form-footer{
    border-top: 1px solid rgb(204, 202, 202); 
    padding-bottom: 20px;
    padding-top: 20px;
}

#form-body{
    min-height: 400px;
    font-family: 'Lalezar', cursive !important;
}

.hide{
    display: none;
}

.pitch-img{
    width: 65%;
    height: auto;
    margin: auto;
}

.pitch-img-faded{
    width: 65%;
    height: auto;
    opacity: 0.3;
    margin:auto;
}

#summary-page{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

#time-slots-table{
    width:100%;
}

.input-title{
    font-size:19px;
}

.form-control{
    border-radius: 0px !important;
}

.btn{
    border-radius: 0px !important;
}

.icon{
    width: 20px;
    height: 20px;
    margin: 10px;
    margin-top: -2px;
}

.input-content{
    padding-left:44px;
}

.cb-table{
    margin-top: -11px;
}

td{
    color: gray;
    font-size: 18px;
    padding: 10px;
    padding-left:0px;
}

tr{
    border-top: 1px solid gray;
    padding: 10px;
}

.input-label{
    font-size:17px;
}

.ui-widget-header {
    border: 1px solid #101a7b;
    background: #101a7b url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;
    color: #ffffff;
    font-weight: bold;
}

#select-date{
    cursor: pointer;
}

#top-nav{
    background-color: #101a7b;
    height: 60px;
}

#top-nav-logo{
    width: 110px; 
    margin-top: 10px;
}

#bottom-nav{
    background-color: #101a7b;
    height: 103px;
    margin-top:140px;
}

.bottom-social-button:hover{
    cursor: pointer;
    background-color: #303030;
}

.bottom-social-icon{
    color:white;
    font-size: xx-large;
}

.bottom-social-link{
    vertical-align: center;
}

#booked-button{
    background-color: #2196F3;
    color: white;
    padding-top: 4px;
    padding-right: 7px;
    padding-left: 7px;
    cursor: no-drop;
}